#	   user: alfred
#	machine: spigot
#	   tree: /usr/stage
#	   date: Mon Nov 18 07:17:40 2013

# .
/set type=dir uid=0 gid=0 mode=0755 nlink=1 flags=none
.               nlink=3 

# ./usr
usr             nlink=3

# ./usr/lib
lib             nlink=2
# ./usr/lib
..

# ./usr
..

