#	   user: alfred
#	machine: spigot
#	   tree: /usr/stage
#	   date: Mon Nov 18 07:52:00 2013

# .
/set type=dir uid=0 gid=0 mode=0755 nlink=1 flags=none
.               nlink=3 time=1384789521.000000000

# ./usr
usr             nlink=4 time=1384789521.000000000

# ./usr/lib
lib             nlink=2 time=1384789521.000000000
# ./usr/lib
..


# ./usr/share
share           nlink=3 time=1384789521.000000000

# ./usr/share/man
man             nlink=3 time=1384789521.000000000

# ./usr/share/man/man3
man3            nlink=2 time=1384789521.000000000
# ./usr/share/man/man3
..

# ./usr/share/man
..

# ./usr/share
..

# ./usr
..

